langchain_chroma
langchain_google_genai
langchain-chroma
google-generativeai
chromadb==0.5.3
streamlit==1.37.1
langchain
nltk==3.9.1
unstructured[all-docs]
pydantic==1.10.17
lxml==5.3.0
IPython
requests
pypdf
streamlit-pdf-viewer
tiktoken
PyMuPDF
markdown
PyPDF2